In [12]:
import pandas as pd
import pprint
import CrawlingFunction

In [2]:
cand_data_df = pd.read_csv("sample_df.csv")
cand_data_df.head()

,Unnamed: 0,candidate_name,candidate_surname,candidate_country,ethnicity,url,cand_id,ID
0,0,Aviv,Eyal,US,Asian,http://www.linkedin.com/in/aviveyal,75238,0
1,1,Michael,Kirkorian,FR,White/Caucasian,https://fr.linkedin.com/in/michaël-kirkorian-b...,17617,1
2,2,Xiangping,Bu,US,Asian,https://www.linkedin.com/in/xiangping-bu-992b5...,93502,2
3,3,Ramayan,Tiwari,US,Asian,https://www.linkedin.com/in/ramayantiwari,128671,3
4,4,Srilatha,Koneru,US,Asian,http://www.linkedin.com/pub/srilatha-koneru/0/...,87393,4

In [3]:
linkedin_url = "https://www.linkedin.com/in/leminhquoc/"

In [1]:
import pandas as pd
import CrawlingFunction
linkedin_url = "https://www.linkedin.com/in/leminhquoc/"
result = CrawlingFunction.get_user_information(100, linkedin_url)

print(CrawlingFunction.cand_info_2DF(result))
print(CrawlingFunction.company_list_2DF(result))
print(CrawlingFunction.university_list_2DF(result))
print(CrawlingFunction.language_list_2DF(result))

/Users/vunguyen/anaconda/envs/python2/lib/python2.7/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 174 of the file /Users/vunguyen/anaconda/envs/python2/lib/python2.7/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

Profile picture: /AAEAAQAAAAAAAAWzAAAAJDY3YWIyNDlhLTgzNDItNGU1OS1iYzU2LTUxOGY2OGE0YTlkMg.jpg

('picture_link:', u'https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAWzAAAAJDY3YWIyNDlhLTgzNDItNGU1OS1iYzU2LTUxOGY2OGE0YTlkMg.jpg')
('userfirstname ', 'Quoc', '\n userlastname', 'M.Le')
('All function time spending:', 3.797522783279419)
   cand_id firstname                   img_path lastname
0      100      Quoc  photo/profile_img_100.jpg     M.Le
   cand_id endMonth  endYear  \
0      100  Present  Present
1      100  Present  Present
2      100       12     2015
3      100  Present  Present
4      100  Present  Present
5      100  Present  Present

                                        locationName  \
0              Linh Trung, Ho Chi Minh City, Vietnam
1                                   Ho Chi Minh city
2                                   Sophia Antipolis
3  227 Nguyen Van Cu street, District 5, Ho Chi M...
4                                   Ho Chi Minh City
5                                                NaN

                                                name  startMonth  startYear
0  John von Neumann Institute - Vietnam National ...         6.0     2016.0
1  John von Neumann Institute - Vietnam National ...         8.0     2016.0
2                                   Amadeus IT Group         7.0     2015.0
3                     VNUHCM - University of Science        12.0     2011.0
4  John von Neumann Institute - Vietnam National ...         3.0     2017.0
5                                        WWF Vietnam         NaN        NaN
{'country': u'FR', 'name': 'Telecom ParisTech'}
{'country': u'FR',
 'endYear': 2016,
 'name': 'Telecom ParisTech',
 'startYear': 2013}
{'country': u'VN',
 'endYear': 2012,
 'name': 'University of Science Ho Chi Minh City',
 'startYear': 2007}
{'country': u'VN',
 'endYear': 2015,
 'name': 'John von Neumann Institute - Vietnam National University HCM',
 'startYear': 2012}
   cand_id country endMonth  endYear  \
0      100      FR  Present  Present
1      100      FR  Present     2016
2      100      VN  Present     2012
3      100      VN  Present     2015

                                                name  startYear
0                                  Telecom ParisTech        NaN
1                                  Telecom ParisTech     2013.0
2             University of Science Ho Chi Minh City     2007.0
3  John von Neumann Institute - Vietnam National ...     2012.0
   cand_id     name           proficiency
0      100  English  PROFESSIONAL_WORKING

In [6]:
result_df = pd.DataFrame.from_dict(result,orient='index')
result_df

                                                                  0
user_firstname                                                 Quoc
language          [{u'proficiency': u'PROFESSIONAL_WORKING', u'n...
cand_id                                                         100
university        [{u'country': u'FR', u'name': u'Telecom ParisT...
profile_pic_path                          photo/profile_img_100.jpg
user_last                                                      M.Le
company           [{u'locationName': u'Linh Trung, Ho Chi Minh C...

In [13]:
pprint.pprint(result)

{'cand_id': 100,
 'company': [{'locationName': 'Linh Trung, Ho Chi Minh City, Vietnam',
              'name': 'John von Neumann Institute - Vietnam National University HCM',
              'startMonth': 6,
              'startYear': 2016},
             {'locationName': 'Ho Chi Minh city',
              'name': 'John von Neumann Institute - Vietnam National University HCM',
              'startMonth': 8,
              'startYear': 2016},
             {'endMonth': 12,
              'endYear': 2015,
              'locationName': 'Sophia Antipolis',
              'name': 'Amadeus IT Group',
              'startMonth': 7,
              'startYear': 2015},
             {'locationName': '227 Nguyen Van Cu street, District 5, Ho Chi Minh city',
              'name': 'VNUHCM - University of Science',
              'startMonth': 12,
              'startYear': 2011},
             {'locationName': 'Ho Chi Minh City',
              'name': 'John von Neumann Institute - Vietnam National University HCM',
              'startMonth': 3,
              'startYear': 2017},
             {'name': 'WWF Vietnam'}],
 'language': [{'name': 'English', 'proficiency': 'PROFESSIONAL_WORKING'}],
 'profile_pic_path': 'photo/profile_img_100.jpg',
 'university': [{'country': u'FR', 'name': 'Telecom ParisTech'},
                {'country': u'FR',
                 'endYear': 2016,
                 'name': 'Telecom ParisTech',
                 'startYear': 2013},
                {'country': u'VN',
                 'endYear': 2012,
                 'name': 'University of Science Ho Chi Minh City',
                 'startYear': 2007},
                {'country': u'VN',
                 'endYear': 2015,
                 'name': 'John von Neumann Institute - Vietnam National University HCM',
                 'startYear': 2012}],
 'user_firstname': 'Quoc',
 'user_last': 'M.Le'}

In [8]:
cand_dict = dict()
cand_dict['cand_id'] = result['cand_id']
cand_dict['firstname'] = result['user_firstname']
cand_dict['lastname'] = result['user_last']
cand_dict['img_path'] = result['profile_pic_path']
cand_df = pd.DataFrame(cand_dict,index=[0])  
print(cand_df)

   cand_id firstname                   img_path lastname
0      100      Quoc  photo/profile_img_100.jpg     M.Le

In [2]:
company_list =list()

for company in result['company']:
#     pprint.pprint(company)
    company_dict =dict()
    company_dict['cand_id'] = result['cand_id']
    company_dict['name'] = company['name']
    if 'startYear' in company:
        company_dict['startYear'] = company['startYear']
    if 'startMonth' in company:
        company_dict['startMonth'] = company['startMonth']
    if 'locationName' in company:
        company_dict['locationName'] = company['locationName']
    if 'endMonth' in company:
        company_dict['endMonth'] = company['endMonth']
    else:
        company_dict['endMonth'] = 'Present'
    if 'endYear' in company:
        company_dict['endYear'] = company['endYear']
    else:
        company_dict['endYear'] = 'Present'
        
    company_list.append(company_dict)
result_df = pd.DataFrame(company_list)  
print(result_df)

   cand_id endMonth  endYear  \
0      100  Present  Present
1      100  Present  Present
2      100       12     2015
3      100  Present  Present
4      100  Present  Present
5      100  Present  Present

                                        locationName  \
0              Linh Trung, Ho Chi Minh City, Vietnam
1                                   Ho Chi Minh city
2                                   Sophia Antipolis
3  227 Nguyen Van Cu street, District 5, Ho Chi M...
4                                   Ho Chi Minh City
5                                                NaN

                                                name  startMonth  startYear
0  John von Neumann Institute - Vietnam National ...         6.0     2016.0
1  John von Neumann Institute - Vietnam National ...         8.0     2016.0
2                                   Amadeus IT Group         7.0     2015.0
3                     VNUHCM - University of Science        12.0     2011.0
4  John von Neumann Institute - Vietnam National ...         3.0     2017.0
5                                        WWF Vietnam         NaN        NaN

In [6]:
university_list =list()

for university in result['university']:
    pprint.pprint(university)
    university_dict =dict()
    university_dict['cand_id'] = result['cand_id']
    university_dict['name'] = university['name']
    if 'startYear' in university:
        university_dict['startYear'] = university['startYear']
    if 'startMonth' in university:
        university_dict['startMonth'] = university['startMonth']
    if 'country' in university:
        university_dict['country'] = university['country']
    if 'endMonth' in university:
        university_dict['endMonth'] = university['endMonth']
    else:
        university_dict['endMonth'] = 'Present'
    if 'endYear' in university:
        university_dict['endYear'] = university['endYear']
    else:
        university_dict['endYear'] = 'Present'
        
    university_list.append(university_dict)
result_U_df = pd.DataFrame(university_list)  
print(result_U_df)

{'country': u'FR', 'name': 'Telecom ParisTech'}
{'country': u'FR',
 'endYear': 2016,
 'name': 'Telecom ParisTech',
 'startYear': 2013}
{'country': u'VN',
 'endYear': 2012,
 'name': 'University of Science Ho Chi Minh City',
 'startYear': 2007}
{'country': u'VN',
 'endYear': 2015,
 'name': 'John von Neumann Institute - Vietnam National University HCM',
 'startYear': 2012}
   cand_id country endMonth  endYear  \
0      100      FR  Present  Present
1      100      FR  Present     2016
2      100      VN  Present     2012
3      100      VN  Present     2015

                                                name  startYear
0                                  Telecom ParisTech        NaN
1                                  Telecom ParisTech     2013.0
2             University of Science Ho Chi Minh City     2007.0
3  John von Neumann Institute - Vietnam National ...     2012.0

In [13]:
pprint.pprint(result)

{'cand_id': 100,
 'company': [{'locationName': 'Linh Trung, Ho Chi Minh City, Vietnam',
              'name': 'John von Neumann Institute - Vietnam National University HCM',
              'startMonth': 6,
              'startYear': 2016},
             {'locationName': 'Ho Chi Minh city',
              'name': 'John von Neumann Institute - Vietnam National University HCM',
              'startMonth': 8,
              'startYear': 2016},
             {'endMonth': 12,
              'endYear': 2015,
              'locationName': 'Sophia Antipolis',
              'name': 'Amadeus IT Group',
              'startMonth': 7,
              'startYear': 2015},
             {'locationName': '227 Nguyen Van Cu street, District 5, Ho Chi Minh city',
              'name': 'VNUHCM - University of Science',
              'startMonth': 12,
              'startYear': 2011},
             {'locationName': 'Ho Chi Minh City',
              'name': 'John von Neumann Institute - Vietnam National University HCM',
              'startMonth': 3,
              'startYear': 2017},
             {'name': 'WWF Vietnam'}],
 'language': [{'name': 'English', 'proficiency': 'PROFESSIONAL_WORKING'}],
 'profile_pic_path': 'photo/profile_img_100.jpg',
 'university': [{'country': u'FR', 'name': 'Telecom ParisTech'},
                {'country': u'FR',
                 'endYear': 2016,
                 'name': 'Telecom ParisTech',
                 'startYear': 2013},
                {'country': u'VN',
                 'endYear': 2012,
                 'name': 'University of Science Ho Chi Minh City',
                 'startYear': 2007},
                {'country': u'VN',
                 'endYear': 2015,
                 'name': 'John von Neumann Institute - Vietnam National University HCM',
                 'startYear': 2012}],
 'user_firstname': 'Quoc',
 'user_last': 'M.Le'}

In [14]:
language_list =list()

for language in result['language']:
#     pprint.pprint(university)
    language_dict =dict()
    language_dict['cand_id'] = result['cand_id']
    language_dict['name'] = language['name']
    if 'proficiency' in language:
        language_dict['proficiency'] = language['proficiency']
        
    language_list.append(language_dict)
result_Language_df = pd.DataFrame(language_list)  
print(result_Language_df)

   cand_id     name           proficiency
0      100  English  PROFESSIONAL_WORKING

In [13]:
cand_info_df = pd.DataFrame(index=range(0,1000),columns=['cand_id','candidate_name','candidate_surname','profile_pic'])
university_info_df = pd.DataFrame(index=range(0,1000),columns=['cand_id','University','university_country','university_start_month','university_start_year', 'univerisity_end_month','univerisity_end_year'])
company_info_df = pd.DataFrame(index=range(0,1000),columns=['cand_id','Company', 'Company_country','Company_start_month','Company_start_year', 'Company_end_month','Company_end_year'])
Language_info_df = pd.DataFrame(index=range(0,1000),columns=['cand_id','Language', 'proficiency'])

In [ ]:
cand_info_df = pd.DataFrame(index=range(0,1000),columns=['cand_id','candidate_name','candidate_surname',
                                                      'University', 'university_country','university_start_month','university_start_year', 'univerisity_end_month','univerisity_end_year',
                                                      'Company', 'university_country','university_start_month','university_start_year', 'univerisity_end_month','univerisity_end_year',])