In [1]:
import CrawlingFunction as cf

In [2]:
my_dict = cf.get_user_information("123", "https://www.linkedin.com/in/hoangnhuthinh/")
university = cf.university_list_2DF(my_dict)

/usr/lib/python3/dist-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

Profile picture: /AAEAAQAAAAAAAAjoAAAAJGJjNGIyZTlhLWE1MWItNDkxOS1iNDVjLWFjZGVhMWI4MTU2Nw.jpg

picture_link: https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjoAAAAJGJjNGIyZTlhLWE1MWItNDkxOS1iNDVjLWFjZGVhMWI4MTU2Nw.jpg
All function time spending: 4.282333135604858

In [5]:
my_dict2 = cf.get_user_information("124", "https://www.linkedin.com/in/linh-le-1a1a4ba/")
university2 = cf.university_list_2DF(my_dict2)
university.append(university2)

/usr/lib/python3/dist-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

Profile picture: /AAEAAQAAAAAAAAi_AAAAJDc2NmVkN2JiLWNhZmItNDVmZC1hOGNkLTBmNWUyOWQxN2E3Nw.jpg

picture_link: https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAi_AAAAJDc2NmVkN2JiLWNhZmItNDVmZC1hOGNkLTBmNWUyOWQxN2E3Nw.jpg
All function time spending: 5.188403367996216

,cand_id,country,endMonth,endYear,name,startYear
0,123,VN,Present,2009,"b'Hai Ba Trung High School, Hue City'",2007.0
1,123,VN,Present,2013,b'University Of Economics HCM City',2009.0
0,124,US,Present,Present,b'University of Southern California',NaN
1,124,US,Present,2003,b'East Los Angeles College',2002.0
2,124,US,Present,2005,b'University of Southern California',2004.0

In [9]:
university = university.append(university2)

In [10]:
university

,cand_id,country,endMonth,endYear,name,startYear
0,123,VN,Present,2009,"b'Hai Ba Trung High School, Hue City'",2007.0
1,123,VN,Present,2013,b'University Of Economics HCM City',2009.0
0,124,US,Present,Present,b'University of Southern California',NaN
1,124,US,Present,2003,b'East Los Angeles College',2002.0
2,124,US,Present,2005,b'University of Southern California',2004.0